{% extends "blog/base.html" %} {% load staticfiles %} {% block title %} Poster {% endblock%} {% block content %}
<div class="contentWrap">
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/1.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/2.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/3.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/4.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/5.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/6.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/7.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/8.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/9.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/10.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/11.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/12.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>
    <div class="posterWrap">
        <div class="poster poster_front">
            <div class="front">
                <img src="{% static 'blog/13.jpg' %}" alt="">
                <p class="text">七夕</p>
            </div>
            <div class="back">
                <p>我叫王钺</p>
            </div>
        </div>
    </div>W
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'blog/poster.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/base.js' %}"></script>
{% endblock %}
